@model DepartmentViewModel;
    ViewData["Title"] = "Edit Department";
}

<h1>Edit Department</h1>

<br />
<br />

<form asp-action="Edit">
    <partial name="PartialViews/CreateEditEmployeePartial" />

    <input type="submit" value="Save" class="btn btn-primary" />|
    <a asp-action="Index" class="btn btn-info">Cancel</a>

</form>

@section ValidationScriptSection
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

